.container {
  height: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.controlsSection {
}

.resumeSection {
  background-color: #c2c2c2;
}

.title {
  align-self: center;
  margin-bottom: 2rem !important;
}

.titleInput input {
  font-size: 1.5rem;
  text-align: center;
}

.blank {
  box-sizing: border-box;
  padding: 2rem;
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
}

.groupHeading {
  margin-bottom: 1rem !important;
}

.formBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.textField {
  width: 100%;
  margin: 0 !important;
}

.downloadBtn {
  width: 15rem;
  align-self: flex-end;
}

.signOutBtn {
  position: absolute !important;
  left: 2rem;
  bottom: 2rem;
}

.progressLine {
  width: 100%;
  height: 3rem;
  margin: 1rem 0;
}

.progressScore {
  font-size: 1.3rem !important;
  color: #3f51b5;
  margin-right: 0.5rem !important;
}

.progressTitle {
  font-size: 0.85rem !important;
  color: #b9b7b7;
}

.secondaryColor {
  color: #f50257;
}

.postBtn {
  width: calc(50% - 0.5rem);
}

@media (max-width: 1024px) {
  .formBlock {
    grid-template-columns: auto;
  }
  .postBtn {
    width: 100%;
  }
}
