.container {
  height: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.controlsSection {
}

.resumeSection {
  background-color: #758aa3;
}

.blank {
  box-sizing: border-box;
  padding: 2rem;
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
}

.formBlock {
  display: flex;
  flex-wrap: wrap;
}

.textField {
  width: 100%;
  max-width: 15rem;
  margin-right: 1rem !important;
}

.downloadBtn {
  width: 15rem;
  align-self: flex-end;
}
